@import "../colors.scss";

.button {
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: $border-radius;
    cursor: pointer;
    transition: 0.5s;

    &.primary {
        border: solid 1px $primary-color;
        color: $primary-color;

        &.solid {
            background-color: $primary-color;
            color: $white-color;

            &:hover {
                background-color: $primary-color-light;
            }

            &:active {
                background-color: $primary-color-dark;
            }
        }

        &:hover {
            background-color: $primary-color-light;
            color: $white-color;
        }

        &:active {
            background-color: $primary-color-dark;
            color: $white-color;
        }

        &:focus {
            box-shadow: 0 8px 16px 0 rgba($primary-color, 0.2), 0 12px 40px 0 rgba($primary-color, 0.2);
        }
    }

    &.secondary {
        border: solid 1px $secondary-color;
        color: $secondary-color;

        &.solid {
            background-color: $secondary-color;
            color: $white-color;

            &:hover {
                background-color: $secondary-color-light;
            }

            &:active {
                background-color: $secondary-color-dark;
            }
        }

        &:hover {
            background-color: $secondary-color-light;
            color: $white-color;
        }

        &:active {
            background-color: $secondary-color-dark;
            color: $white-color;
        }

        &:focus {
            box-shadow: 0 8px 16px 0 rgba($secondary-color, 0.2), 0 12px 40px 0 rgba($secondary-color, 0.2);
        }
    }

    &.danger {
        border: solid 1px $danger-color;
        color: $danger-color;

        &.solid {
            background-color: $danger-color;
            color: $white-color;

            &:hover {
                background-color: $danger-color-light;
            }

            &:active {
                background-color: $danger-color-dark;
            }
        }

        &:hover {
            background-color: $danger-color-light;
            color: $white-color;
        }

        &:active {
            background-color: $danger-color-dark;
            color: $white-color;
        }

        &:focus {
            box-shadow: 0 8px 16px 0 rgba($danger-color, 0.2), 0 12px 40px 0 rgba($danger-color, 0.2);
        }
    }

    &.success {
        border: solid 1px $success-color;
        color: $success-color;

        &.solid {
            background-color: $success-color;
            color: $white-color;

            &:hover {
                background-color: $success-color-light;
            }

            &:active {
                background-color: $success-color-dark;
            }
        }

        &:hover {
            background-color: $success-color-light;
            color: $white-color;
        }

        &:active {
            background-color: $success-color-dark;
            color: $white-color;
        }

        &:focus {
            box-shadow: 0 8px 16px 0 rgba($success-color, 0.2), 0 12px 40px 0 rgba($success-color, 0.2);
        }
    }

    &.warning {
        border: solid 1px $warning-color;
        color: $warning-color;

        &.solid {
            background-color: $warning-color;
            color: $white-color;

            &:hover {
                background-color: $warning-color-light;
            }

            &:active {
                background-color: $warning-color-dark;
            }
        }

        &:hover {
            background-color: $warning-color-light;
            color: $white-color;
        }

        &:active {
            background-color: $warning-color-dark;
            color: $white-color;
        }

        &:focus {
            box-shadow: 0 8px 16px 0 rgba($warning-color, 0.2), 0 12px 40px 0 rgba($warning-color, 0.2);
        }
    }

    &:active {
        box-shadow: 0 2px 4px 0 rgba($color-dark, 0.1), 0 3px 10px 0 rgba($color-dark, 0.1);
        transform: translateY(4px);
    }

    &:hover {
        box-shadow: 0 4px 8px 0 rgba($color-dark, 0.2), 0 6px 20px 0 rgba($color-dark, 0.19);
    }
}
