.table {
    display: flex;
    flex-flow: column;
    width: 50rem;
    border-radius: 4px;

    &-header {
        flex: 1;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        background-color: white;
        > div {
            margin: 1rem 0;
        }
    }

    &-body {
        flex: 1;
        display: flex;
        flex-flow: column;
        justify-content: flex;
        align-items: flex-start;

        &__row {
            flex: 1;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: flex-start;

            > div {
                flex: 1;
                margin: 2rem;
            }
        }
    }
}
