$color-blue: #007bff;
$color-indigo: #6610f2;
$color-purple: #6f42c1;
$color-pink: #e83e8c;
$color-red: #dc3545;
$color-orange: #fd7e14;
$color-yellow: #ffd600;
$color-green: #28a745;
$color-teal: #20c997;
$color-cyan: #17a2b8;
$color-white: #fff;
$color-gray: #6c757d;
$color-gray-dark: #343a40;
$color-primary: #3f6ad8;
$color-secondary: #6c757d;
$color-success: #3ac47d;
$color-info: #16aaff;
$color-warning: #f7b924;
$color-danger: #d92550;
$color-light: #eee;
$color-dark: #343a40;
$color-focus: #444054;
$color-alternate: #794c8a;

$light: 100;
$normal: 300;
$semibold: 500;
$bold: 700;

$font-size: 62.5%;
$zero: 0;

$b-box: border-box;
$max-width: 100vw;
$max-height: 100vh;
$border-radius: 4px;
$modified: 10%;
$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

$tablet: 550px;
$tablet-xl: 700px;
$laptop: 950px;
$laptop-xl: 1024px;
$laptop-renita: 1880px;
$laptop-hd: 2039px;
