@import "~normalize.scss/normalize.scss";
@import "./constants.scss";
@import "./colors.scss";
@import "./mixins.scss";
@import "./letters.scss";
@import "./fonts.scss";
@import "./layout.scss";
@import "./components/page.scss";
@import "./components/buttons.scss";
@import "./components/form-control.scss";
@import "./components/table.scss";

html {
    font-size: $font-size;
    margin: $zero;
    padding: $zero;
}

body {
    box-sizing:border-box;
    width: $max-width;
    height: $max-height;
    background-color: $background-color;
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    color: $font-color;
}

a {
    color: $primary-color;
    text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: $zero;
    padding: $zero;
}
